<%- include("./includes/head") %>
    <section class="mx-auto">
        <h1 class="title">Edit your post here</h1>
        <% if(errorMsg){ %>
            <p class="msg-box">
                <%= errorMsg %>
            </p>
            <% }%>
                <form action="/admin/post-edit" method="post" enctype="multipart/form-data">
                    <input type="text" name="postId" value="<%= isValidationFail ? postId : post._id %>" hidden>
                    <div>
                        <label for="title">Enter title</label>
                        <input type="text" id="title" name="title" required
                            value="<%= isValidationFail ? oldFormData.title : post.title %>">
                    </div>
                    <div>
                        <label for="photo">Enter Photo</label>
                        <input type="file" id="photo" name="photo">
                    </div>
                    <div>
                        <label for="description">Enter a description</label>
                        <textarea name="description" id="description" cols="30"
                            rows="10"><%= isValidationFail ? oldFormData.description : post.description %></textarea>

                    </div>
                    <button>Update Post</button>
                </form>
    </section>
    <%- include("./includes/foot") %>