<%- include("../includes/head") %>
    <section class="p-details">
        <div class="p-details-p">
            <div class="p-header">
                <h1>Premium Details</h1>
                <a href="/admin/profile"><i class="fa-solid fa-circle-left"></i></a>
            </div>
            <p>CustomerId - <span>
                    <%= customer_id %>
                </span>
            </p>
            <p>Country - <span>
                    <%= country %>
                </span>
            </p>
            <p>PostalCode - <span>
                    <%= postal_code %>
                </span>
            </p>
            <p>Email - <span>
                    <%= email %>
                </span>
            </p>
            <p>Name - <span>
                    <%= name %>
                </span>
            </p>
            <p>InvoiceId - <span>
                    <%= invoice_id %>
                </span>
            </p>
            <p>Status - <span class="status">
                    <%= status %>
                </span>
            </p>
        </div>
    </section>
    <%- include("../includes/foot") %>