<%- include("../includes/head") %>
    <section class="header">
        <div class="public-user">
            <% if(postsArr[0].userId.profile_imgUrl && postsArr[0].userId.isPremium ) { %>
                <img src="<%= '/' + postsArr[0].userId.profile_imgUrl %>" alt="<%= postsArr[0].userId.username %>"
                    class="profile-photo">
                <% } else { %>
                    <i class="fa-solid fa-circle-user "></i>
                    <% } %>
                        <p>
                            <%= currentUserEmail %>
                        </p>
                        <p>
                            <% if(postsArr[0].userId.username) {%>
                                <p class="premium-username">
                                    <%= postsArr[0].userId.username %>
                                        <% if( postsArr[0].userId.isPremium) {%>
                                            <i
                                                class="fa-solid fa-star animate__animated animate__jello animate__infinite	infinite"></i>
                                </p>
                                <% } %>
                                    <% } %>
                        </p>
        </div>
        <div class="post-container">
            <% for( let post of postsArr) { %>
                <div class="post-box">
                    <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>" class="post-box-img">
                    <a class="post-title" href="/post/<%= post._id %>">
                        <%= post.title.substr(0, 35) %>
                    </a>
                    <p calss="post-des">
                        <%= post.description.substr(0, 100) %>
                    </p>
                    <hr>
                </div>
                <% } %>
        </div>
        <div class="paginate">
            <% if(hasNextPage ) {%>
                <a href="/profile/<%= postsArr[0].userId._id %>?page=<%=nextPage%>">NextPage<%=nextPage%></a>
                <% } %>
                    <% if(hasPreviousPage ) {%>
                        <a href="/profile/<%= postsArr[0].userId._id %>?page=<%=previousPage%>">PreviousPage
                            <%=previousPage%>
                        </a>
                        <% } %>

        </div>
    </section>
    <%- include("../includes/foot") %>